<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar id="myAvatar">
    <img alt="Imágen de buho" src="../../assets/img/buho.png" />
  </ion-avatar>
  <h1 id="titulo">Mi primera App</h1>
  <ion-item>
    <ion-label position="floating">Digite Nombre</ion-label>
    <ion-input [(ngModel)]="myNombre"></ion-input>
  </ion-item>
  <ion-button (click)="enviar()">Enviar</ion-button>
</ion-content>
